{% extends "base.html" %}
{% block content%}
{% load crispy_forms_tags %}
<h2>Add New Peertotur</h2>
<p>Pleae Fill the Form</p>
<div class="row">
<div class="col-12 rounded border m-2 pb-2">
<form method="POST" enctype="multipart/form-data">
  <!-- {% csrf_token %} -->

  {% crispy form %}
  <!-- {{ form|crispy }} -->
  <!-- <div class="form-row">
    <div class="form-group col-md-12 mb-0">
      {{ form.pname|as_crispy_field }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12 mb-0">
      {{ form.paddress|as_crispy_field }}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4 mb-0">
      {{ form.ptel|as_crispy_field }}
    </div>
    <div class="form-group col-md-2 mb-0">
      {{ form.pgsm|as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0">
      {{ form.pemail|as_crispy_field }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4 mb-0">
      {{ form.yearofstudy|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
      {{ form.pdep|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
      {{ form.pexgraduate|as_crispy_field }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4 mb-0">
      {{ form.pgpamajor|as_crispy_field }}
    </div>
    <div class="form-group col-md-2 mb-0">
      {{ form.pgpacum|as_crispy_field }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-row">
      <div class="form-group col-md-4 mb-0">
        {{ form.pimg|as_crispy_field }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Add New</button> -->
</form>
</div>
</div>
{% endblock %}