{% extends "base.html" %}
{% load bootstrap %}
{% load widget_tweaks %}
{% block content%}
<h2>
    <a href="" data-target="#sidebar" data-toggle="collapse" class="d-md-none"><i class="fa fa-bars"></i></a>
    Peertotur experties list
</h2>

<div class="row">
    <div class="col-12 rounded border m-2 pb-2">
        <form method="GET">
            {{ filterexp.form|bootstrap }}

            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </form>

    </div>
</div>
<div class="row">
    <div class="col-12">
        <a href="{% url 'peertotur:peertotur_experties' %}" class="btn btn-primary "
                            target="_blank">Add More Peer Tutor epxerties</a>
    </div>
</div>

<div class="row">
    <div class="col-12 rounded border m-2 pb-2">
        <table class="table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Peer Totur Name</th>
                    <th>Course Name</th>
                    <th>Course Code</th>
                </tr>
            </thead>
            <tbody>
                {% for f in filterexp.qs %}
                <tr>
                    <td> {{ forloop.counter }} </td>
                    <td>{{ f.pname }}</td>

                    <td>
                        {{ f.coursename }}
                    </td>
                    <td>
                        {{ f.coursecode }}
                    </td>
                    <td>
                        <a href="{% url 'peertotur:peertoturexp_update' f.pk %}" class="btn btn-primary "
                            target="_blank"><i class="far fa-file-alt"></i></a>
                    </td>
                    <td>
                        <!-- <a href="{% url 'peertotur:peertoturexp_delete' f.pk %}" class="confirm-delete" title="Delete" data-toggle="modal" data-target="#confirmDeleteModal" id="deleteButton{{question.id}}">
                     <a href="{% url 'peertotur:peertoturexp_delete' f.pk %}" class="btn btn-danger confirm-delete" > 
                    <i class="far fa-trash-alt"></i>
                    </a>-->

                        <form method="POST" action="{% url 'peertotur:peertoturexp_delete' f.pk %}">
                            {% csrf_token %}
                            <a href="{% url 'peertotur:peertoturexp_delete' f.pk %}" class="btn btn-danger confirm-delete"
                                title="Delete" data-toggle="modal" data-target="#confirmDeleteModal"
                                id="deleteButton{{f.pk}}">
                                <!-- <a href="{% url 'peertotur:peertoturexp_delete' f.pk %}"
                                    class="btn btn-danger confirm-delete">-->
                                    <i class="far fa-trash-alt"></i>
                            </a>
                               <!--  <button type="submit" class="btn btn-danger "><i
                                        class="far fa-trash-alt"></i></button>-->
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% if is_paginated %}
<nav aria-label="Page navigation conatiner"></nav>
<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

    {% endif %}
</ul>
</nav>
</div>
{% endif %}

{% endblock %}