{% extends "base.html" %}

{% block content%}
<h2>Peertotur list</h2>
<p>
    <a href="{% url 'peertotur:add_peertotur' %}" class="btn btn-primary">Add New Peertotur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Url</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for f in peertoturlist %}
        <tr>
            <td>
                 {{ f.pname}}
            </td>
            <td>
                <a href="{{ f.pimg.url }}" class="btn btn-primary" target="_blank">view attatchment</a>
            </td>
            <td>
                <form method="POST" action="{% url 'peertotur:peertotur_delete' f.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm" >Delete File</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}