{% extends "base.html" %}

{% block content%}
<h2>Upload List</h2>
<p>
    <a href="{% url 'peertotur:upload_file' %}" class="btn btn-primary">Upload File</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Url</th>
        </tr>
    </thead>
    <tbody>
        {% for f in uploadedfiles %}
        <tr>
            <td>
                 {{ f.fname}}
            </td>
            <td>
                <a href="{{ f.filepath.url }}" class="btn btn-primary" target="_blank">view attatchment</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}